<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>Super Admin Responsive Template</title>
            
        <!-- CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
        <link href="css/style.css" rel="stylesheet" th:href="@{/assets/css/style.css}">
        <link href="css/generics.css" rel="stylesheet" th:href="@{/assets/css/generics.css}">
    </head>
    <body id="skin-blur-violate">
        <section id="error-page" class="tile">
            <h1 class="m-b-10">ERROR 404</h1>
            <p>Sorry, but the page you are looking for has not been found. Try checking the URL for errors. Don't worry though, we will help you get to the right place.</p>
            <a class="underline" href="">Back to previous page</a> or <a class="underline" href="">Go to Home page</a> 
        </section>
        
    </body>
</html>
